<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>Book index page</title>

    <!-- Bootstrap core CSS -->
    {{ asset_css('bootstrap.css') }}
    {{ asset_js('jquery.js') }}
    {{ asset_js('bootstrap.js') }}
    {{ asset_css('toastr.css') }}
    {{ asset_js('toastr.min.js') }}
</head>