{% extends('layout.twig') %}
{% block content%}
    <div class = "starter-template">
        <table class = "table">
            <thead>
            <tr>
                <th>#</th>
                <th style="width: 420px">Title</th>
                <th style="width: 100px">Author</th>
                <th>Price</th>
                <th>Action</th>
                <th style="width: 170px">Cover</th>
            </tr>
            </thead>

            <tbody>
            {% for book in books %}
            <tr>
                <td> {{ book.id }}</td>
                <td> {{ book.title }}</td>
                <td> {{ book.author }}</td>
                <td> {{ book.price | number_format }}</td>
                <td>
                    <a href = "/books/{{ book.id }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href = "/book/destroy/{{ book.id }}" class="btn btn-danger btn-sm delete">Delete</a>
                </td>
                <td>
                    {{ book.cover_img }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul>
        </ul>
        <a href="/csv/export">Download CSV</a>
        <a href="/csv/gettxt" style="padding-left: 30px">Download TXT</a>
        <a href="/csv/import" style="padding-left: 30px">Import CSV</a>

    </div>
    {{ pagination }}
    <script>
        $('.delete').click(function (e) {
            if (!confirm("Do you want delete it?")) {
                e.preventDefault();
            }
        })
    </script>
{% endblock %}
